pre {
  line-height: 125%;
}

td.linenos .normal {
  color: #ffffc0;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #ffffc0;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.hll {
  background-color: #ebdbb2
}

.hic {
  color: #928374;
  font-style: italic
}

/* Comment */
.hierr {
  color: #282828;
  background-color: #fb4934
}

/* Error */
.hiesc {
  color: #dddddd
}

/* Escape */
.hig {
  color: #dddddd
}

/* Generic */
.hik {
  color: #fb4934
}

/* Keyword */
.hil {
  color: #dddddd
}

/* Literal */
.hin {
  color: #dddddd
}

/* Name */
.hio {
  color: #dddddd
}

/* Operator */
.hix {
  color: #dddddd
}

/* Other */
.hip {
  color: #dddddd
}

/* Punctuation */
.hich {
  color: #928374;
  font-style: italic
}

/* Comment.Hashbang */
.hicm {
  color: #928374;
  font-style: italic
}

/* Comment.Multiline */
.hic-PreProc {
  color: #8ec07c;
  font-style: italic
}

/* Comment.PreProc */
.hicp {
  color: #928374;
  font-style: italic
}

/* Comment.Preproc */
.hicpf {
  color: #928374;
  font-style: italic
}

/* Comment.PreprocFile */
.hic1 {
  color: #928374;
  font-style: italic
}

/* Comment.Single */
.hics {
  color: #ebdbb2;
  font-weight: bold;
  font-style: italic
}

/* Comment.Special */
.higd {
  color: #282828;
  background-color: #fb4934
}

/* Generic.Deleted */
.hige {
  color: #dddddd;
  font-style: italic
}

/* Generic.Emph */
.higes {
  color: #dddddd;
  font-weight: bold;
  font-style: italic
}

/* Generic.EmphStrong */
.higr {
  color: #fb4934
}

/* Generic.Error */
.high {
  color: #ebdbb2;
  font-weight: bold
}

/* Generic.Heading */
.higi {
  color: #282828;
  background-color: #b8bb26
}

/* Generic.Inserted */
.higo {
  color: #f2e5bc
}

/* Generic.Output */
.higp {
  color: #a89984
}

/* Generic.Prompt */
.higs {
  color: #dddddd;
  font-weight: bold
}

/* Generic.Strong */
.higu {
  color: #ebdbb2;
  text-decoration: underline
}

/* Generic.Subheading */
.higt {
  color: #fb4934
}

/* Generic.Traceback */
.hikc {
  color: #fb4934
}

/* Keyword.Constant */
.hikd {
  color: #fb4934
}

/* Keyword.Declaration */
.hikn {
  color: #fb4934
}

/* Keyword.Namespace */
.hikp {
  color: #fb4934
}

/* Keyword.Pseudo */
.hikr {
  color: #fb4934
}

/* Keyword.Reserved */
.hikt {
  color: #fb4934
}

/* Keyword.Type */
.hild {
  color: #dddddd
}

/* Literal.Date */
.him {
  color: #d3869b
}

/* Literal.Number */
.his {
  color: #b8bb26
}

/* Literal.String */
.hina {
  color: #fabd2f
}

/* Name.Attribute */
.hinb {
  color: #fe8019
}

/* Name.Builtin */
.hinc {
  color: #8ec07c
}

/* Name.Class */
.hino {
  color: #d3869b
}

/* Name.Constant */
.hind {
  color: #fb4934
}

/* Name.Decorator */
.hini {
  color: #dddddd
}

/* Name.Entity */
.hine {
  color: #fb4934
}

/* Name.Exception */
.hinf {
  color: #8ec07c
}

/* Name.Function */
.hinl {
  color: #dddddd
}

/* Name.Label */
.hinn {
  color: #8ec07c
}

/* Name.Namespace */
.hinx {
  color: #dddddd
}

/* Name.Other */
.hipy {
  color: #dddddd
}

/* Name.Property */
.hint {
  color: #8ec07c
}

/* Name.Tag */
.hinv {
  color: #83a598
}

/* Name.Variable */
.hiow {
  color: #fb4934
}

/* Operator.Word */
.hipm {
  color: #dddddd
}

/* Punctuation.Marker */
.hiw {
  color: #dddddd
}

/* Text.Whitespace */
.himb {
  color: #d3869b
}

/* Literal.Number.Bin */
.himf {
  color: #d3869b
}

/* Literal.Number.Float */
.himh {
  color: #d3869b
}

/* Literal.Number.Hex */
.himi {
  color: #d3869b
}

/* Literal.Number.Integer */
.himo {
  color: #d3869b
}

/* Literal.Number.Oct */
.hisa {
  color: #b8bb26
}

/* Literal.String.Affix */
.hisb {
  color: #b8bb26
}

/* Literal.String.Backtick */
.hisc {
  color: #b8bb26
}

/* Literal.String.Char */
.hidl {
  color: #b8bb26
}

/* Literal.String.Delimiter */
.hisd {
  color: #b8bb26
}

/* Literal.String.Doc */
.his2 {
  color: #b8bb26
}

/* Literal.String.Double */
.hise {
  color: #fe8019
}

/* Literal.String.Escape */
.hish {
  color: #b8bb26
}

/* Literal.String.Heredoc */
.hisi {
  color: #b8bb26
}

/* Literal.String.Interpol */
.hisx {
  color: #b8bb26
}

/* Literal.String.Other */
.hisr {
  color: #b8bb26
}

/* Literal.String.Regex */
.his1 {
  color: #b8bb26
}

/* Literal.String.Single */
.hiss {
  color: #b8bb26
}

/* Literal.String.Symbol */
.hibp {
  color: #fe8019
}

/* Name.Builtin.Pseudo */
.hifm {
  color: #8ec07c
}

/* Name.Function.Magic */
.hivc {
  color: #83a598
}

/* Name.Variable.Class */
.hivg {
  color: #83a598
}

/* Name.Variable.Global */
.hivi {
  color: #83a598
}

/* Name.Variable.Instance */
.hivm {
  color: #83a598
}

/* Name.Variable.Magic */
.hiil {
  color: #d3869b
}

/* Literal.Number.Integer.Long */